[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "External/rapidjson"]
	path = External/rapidjson
	url = https://github.com/straywriter/rapidjson.git
[submodule "External/tinyxml2"]
	path = External/tinyxml2
	url = https://github.com/straywriter/tinyxml2.git
