[submodule "External/rapidjson"]
	path = External/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
